<div class="container">
  <div class="left">
    <img id="shoe" src="../../assets/img/shoes-1.png" alt="">
    <div class="text">
      <h1>WELCOME BACK</h1>
      <p>THANK YOU FOR <br>SHOPPING <br> WITH US</p>
    </div>
    <img id="sweater" src="../../assets/img/sweater.png" alt="">
  </div>
  <div class="right">
    <h1>LOGIN</h1>
    <div class="avatar">
     <img src="../../assets/img/avatar.png" alt="">
    </div>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
        <input  formControlName="username" type="text" name="username" required placeholder="username" required>
        <!--<input type="text" name="" required placeholder="hello" required>-->
        <input formControlName="password" type="password" name="password" placeholder="Password" required>
        <button type="submit">LOGIN</button>
        <p>DON'T HAVE AN ACCOUNT <span routerLink="/signup" >SIGNUP</span> HERE</p>
    </form>


  </div>
</div>
