$yellow: #FFF748;
$purple: #3C1A5B;

.container{
 display: flex;
 position: absolute;
 margin-top: 7%;
 top:3%;
 left: 18%;

}

.left, .right{
  padding: 40px 50px;
  display: inline-block;
  border:2px solid black;
}
.left{
  background-color: $purple;
}

.right{
  text-align: center;
  background-color: white;


  input{
    margin:2rem 2rem;
    font-size: large;
    display: block;
    outline: 0 none;
    border: none;
    border-bottom: 2px solid black;

  }
}


.avatar{
  width: 6rem;
  height: 6rem;
  margin-left: 6em;

  img{
    position: absolute ;
    top: 3rem;
    left: 33rem;
    width: 20%;
    height:  30%;
  }
}


#shoe{
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 40%;

}

.text{
  margin-top: 30%;
  h1{
    letter-spacing: 5px;
    color:$yellow;
    font-size: 27px;
    font-family: Ravie;
  }
  p{
    color: $yellow;
    text-align: center;
    font-size: 24px;
  }
}

#sweater{
  position:absolute;
  width: 30%;
  height: 40%;
  left: 0;
   bottom: 0;
  transform: rotate(25deg);
}
button{
  background-color: $purple;
  color: white;
  border-radius: 5px;
  margin-bottom: 2px;
}
