.container{
  border:2px solid black;
  margin-top: 10rem ;
  display: flex;

}



.cont1, .cont2, .tile, .tile2{
  margin: 5rem;
  padding: 50px;
  border: 2px solid black;
  display: inline-block;
  overflow: hidden;


  img{

    width: 10%;
    height: 10%;
  }
}
