<div class="container">
  <div class="cont1">
    <img src="../../assets/img/avatar.png" alt="Jackson Mwangi">
    <div class="contactIcons">
      FB | GITHUB |TWITTER | WHATSAPP <br>
         I231/0028/2019

    </div>
  </div>
  <div class="tile">
    <h1  style="font-size: 30px;">TILE 1</h1>
  </div>
  <div class="cont2">
    <img src="../../assets/img/avatar.png" alt="Brian Nyagah">
    <div class="contactIcons2">
      FB | GITHUB |TWITTER | WHATSAPP <br>
      I231/0029/2019

    </div>
  </div>
  <div class="tile2">
    <h1  style="font-size: 30px;">TILE 2</h1>
  </div>
</div>
