<div class="container">
  <div class="left">
    <img id="trouser" src="../../assets/img/trouser.png" alt="">
    <div class="text">
      <h1>WELCOME </h1>
      <p>GREAT OFFERS<br>AND <br> DISCOUNTS  <br> WAITING FOR <br>YOU</p>
    </div>
    <img id="shoe" src="../../assets/img/shoes-2.png" alt="">
  </div>
  <div class="right">
    <h1>LOGIN</h1>
    <div class="avatar">
      <img src="../../assets/img/avatar.png" alt="">
    </div>
    <div class="form">
      <input type="text" name="username" required placeholder="username" required>
      <input type="email" name="email" required placeholder="Email" required>
      <input type="tel" name="phonNo" value="+254">
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">SIGNUP</button>
    </div>


  </div>
</div>
